{% extends "layout.html" %}
{% block title %} index {% endblock %}
{% block content %} 

{% filter markdown %}

## Welcome to HSFramework
---

#### Let's Start
- This page is /project/templates/home/index.html
- This is extend from /project/templates/layout.html
- Try editing these files and found change here
- Notice: restart flask if you do not enable debug mode

---

#### What's more
- Yes, this page is enabled markdown support
    - if you are used to markdown, you can use it directly
    - if you do not know markdown, you can write html directly
    - yes, we strongly advise you use [markdown](https://en.wikipedia.org/wiki/Markdown)

{% endfilter %}
{% endblock %}